.sidebar {
    padding: 50px;
    background: #454a4e;
  }
  
  .photo {
    border-radius: 50%;
  }

  .photo:hover,
  .photo:focus{
    transform: scale(1.1); 
  }
  
  .section {
    margin-top: 50px;
  }
  
  .title {
    margin-bottom: 20px;
  
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
  }
